<div class="container">
  <div class="content">
    <h2>Affordable plans for any situation</h2>
    <h3 id = text-2>Choose a Premium plan and listen to ad-free music without limits on your phone, speaker, and other devices. Pay in various ways. Cancel anytime.</h3>
    <div class="cards">
      <ul>
        <li class="item-1"><img src = "https://paymentsdk.spotifycdn.com/svg/cards/visa.svg"></li>
        <li class="item-2"><img src = "https://paymentsdk.spotifycdn.com/svg/cards/mastercard.svg"></li>
        <li class="item-3"><img src = "https://paymentsdk.spotifycdn.com/svg/cards/amex.svg"></li>
        <li class="item-4"><img src = "https://paymentsdk.spotifycdn.com/svg/cards/diners.svg"></li>
      </ul>
    </div>
    <div class="footer">
      <h3>All Premium plans include</h3>
      <ul class="feature-list">
        <li class="item-1">Ad-free music listening</li>
        <li class="item-2">Download to listen offline</li>
        <li class="item-3">Play songs in any order</li>
        <li class="item-4">High audio quality</li>
        <li class="item-5">Listen with friends in real time</li>
        <li class="item-6">Organize listening queue</li>
      </ul>
    </div>
  </div>
</div>
