.container {
  background-image: url('https://www-growth.scdn.co/static/download/renaissance/banner.jpg');
  background-size: cover;
  min-height: 528px;
  display: flex;
  justify-content: center;   // центрирует по горизонтали
  align-items: flex-end;     // прижимает к низу
  position: relative;
  padding: 40px 40px 96px 40px;             // отступ снизу (можно убрать/изменить)
  box-sizing: border-box;
}

.content {
  width: 100%;
  max-width: 1170px;
  display: flex;
  justify-content: center;   // выравнивание вложенного контента по центру
}

.content-holder {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  align-items: center;       // выравнивание текста/кнопки по центру
  text-align: center;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  color: white;
}

.subtitle {
  font-size: 28px;
  line-height: 1.5;
  color: white;
  font-weight: 700;
}

.download-btn {
  display: flex;
  color: white;
  font-weight: bold;
  padding: 14px 32px;
  border-radius: 500px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: all 0.3s;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
}
a{
  padding-bottom: 96px;
}
