<div class="container">
  <div class="content">
    <div class="content-holder">
      <div class="card card--individual">
        <div class="label">$0 for 3 months</div>
        <div class="card-content">
          <h3 class="title">Individual</h3>
          <p class="price">$0 for 3 months<br><span>$4.99 / month after</span></p>
          <hr>
          <ul class="features">
            <li>1 Premium account</li>
            <li>Cancel anytime</li>
          </ul>
        </div>
        <button class="card-btn">Try 3 months for $0</button>
        <p class="note">
          $0 for 3 months, then $4.99 per month after. Offer only available if you haven't tried Premium before.
          <a href="#">Terms apply</a>. Offer ends May 19, 2025.
        </p>
      </div>

      <div class="card card--student">
        <div class="label">$0 for 3 months</div>
        <div class="card-content">
          <h3 class="title">Student</h3>
          <p class="price">$0 for 3 months<br><span>$2.49 / month after</span></p>
          <hr>
          <ul class="features">
            <li>1 verified Premium account</li>
            <li>Student verification required</li>
            <li>Cancel anytime</li>
          </ul>
        </div>
        <button class="card-btn">Try 1 months for $0</button>
        <p class="note">
          $0 for 3 months, then $2.99 per month after. Offer only available if you haven't tried Premium before.
          <a href="#">Terms apply</a>. Offer ends May 19, 2025.
        </p>
      </div>

      <div class="card card--duo">
        <div class="label">$0 for 3 months</div>
        <div class="card-content">
          <h3 class="title">Duo</h3>
          <p class="price">$0 for 3 month<br> <span>$6.99 / month after</span></p>
          <hr>
          <ul class="features">
            <li>2 Premium accounts</li>
            <li>Ad-free music</li>
          </ul>
        </div>
        <button class="card-btn">Get Premium Duo</button>
        <p class="note">
          $0 for 3 months, then $6.99 per month after. Offer only available if you haven't tried Premium before.
          <a href="#">Terms apply</a>.
        </p>
      </div>

      <div class="card card--family">
        <div class="card-content">
          <div class="label">$0 for 3 months</div>
          <h3 class="title">Family</h3>
          <p class="price">$0 for 3 month <br> <span>$9.99 / month after</span></p>
          <hr>
          <ul class="features">
            <li>Up to 6 Premium accounts</li>
            <li>Control content marked as explicit</li>
            <li>Cancel anytime</li>
          </ul>
        </div>
        <button class="card-btn">Get Premium Family</button>
        <p class="note">
          $0 for 3 months, then $9.99 per month after. Offer only available if you haven't tried Premium before.
          <a href="#">Terms apply</a>.
        </p>
      </div>
    </div>
  </div>
</div>
