.container{
  box-sizing: content-box;
  height: 48px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-container{
  height: 48px;
  width: 48px;
  padding: 8px;
  box-sizing: border-box;
  margin-left: 12px;
}

.logo-link{
  height: 48px;
  width: 48px;
}

.logo-link svg{
  width: 32px;
  height: 32px;
}

.search{
  display: flex;
  flex-direction: row;
  align-items: center;
}



.search_search-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}
svg{
  border: none;
}
.search_search-bar:hover{
  cursor: text;
  .search-icon{
    outline: 1px solid #737373;
    border-right: none;
    background-color: #262626;
  }
  .search-input{
    outline: 1px solid #737373;
    border-right: none;
    border-left: none;
    background-color: #262626;
  }
  .line{
    outline: 1px solid #737373;
    border-right: none;
    border-left: none;
    background-color: #262626;
  }
  .second-button{
    outline: 1px solid #737373;
    border-left: none;
    background-color: #262626;
  }
  input{
    background-color: #262626;
  }
  svg {
    background-color: #262626;
  }
  button{
    background-color: #262626;
  }

}


.search_home-button{
  height: 48px;
  width: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
}

.search_home-button button{
  height: 48px;
  width: 48px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: #1f1f1f;

  img{
    width: 24px;
    height: 24px;
  }
}

.search_search-bar{
  height: 48px;
  margin: 0 8px;
  border: none;

  .search-icon{
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 50% 0 0 50%;
  }

  .search-input{
    border: none;
    background-color: #1f1f1f;
    height: 48px;
    width: 378px;
    display: flex;
    align-items: center;
  }

  input{
    border: none;
    background-color: #1f1f1f;
    height: 46px;
    width: 378px;
    font-size: 16px;
    color: white;
    padding-left: 5px;
  }
  input::placeholder {
    color: #b3b3b3;
  }
  input:focus{
    border: none;
    outline: none;
  }

  .line{
    background-color: #1f1f1f;
    height: 48px;
    display: flex;
    align-items: center;
  }

  .line span{
    height: 26px;
    border-left: 1px solid #797777;
  }

  .second-button{
    height: 48px;
    width: 48px;
    background-color: #1f1f1f;
    border-radius: 0 50% 50% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
  }
  .second-button button{
    height: 24px;
    width: 22px;
    background-color: #1f1f1f;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  .second-button button {
    transition: transform 0.1s ease-in-out;
  }

  .second-button button:hover {
    transform: scale(1.1);
  }

  .second-button button svg {
    transition: fill 0.1s ease-in-out;
  }

  .second-button button:hover svg path {
    stroke: white;
  }


}

