<script src="album.component.ts"></script>
<div class="album-container">
  <div
    class="button-mask"
    (click)="openAlbum()"
    (mouseenter)="hovering = true"
    (mouseleave)="hovering = false"></div>
  <div class="album-photo">
    <div class="background-img">
      <img src="" alt="">
    </div>
    <div class="button">
      <button
        class="real-button"
        [class.visable] = "hovering">
      </button>
    </div>
  </div>
  <div class="text">
    <div class="name">
      <p>{{ album.name }}</p>
    </div>
    <div class="artists">
      <span class="explicit">
        <span>E</span>
      </span>
      <span *ngFor="let artist in Artists">
        <a href="">{{ artist.name }}</a>
      </span>
    </div>
  </div>
</div>
