//colors
$primary-background-color: #000;
$secondary-background-color: #1f1f1f;
$secondary-hovered-background-color: #2a2a2a;
$outline-color: rgba(86, 86, 86, 0.83);
$primary-text: #b3b3b3;
$white-text-color: #fff;
$button-green-color: #1ed760;


.container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 72px;
  color: white;

  .track-info{
    height: 62px;
    width: 493px;
    box-sizing: border-box;
    padding-left: 8px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;

    img{
      width: 56px;
      height: 56px;
      margin-right: 8px;
    }

    .track-artist{
      color: #b3b3b3;
      font-size: 12px;
      font-weight: 500;
      }

    .track-details{
      color: white;
      display: flex;
      flex-direction: column;

      //align-items: center;
    }

    .track-name{
      color: white;
      font-size: 14px;
      font-weight: 500;
    }

  }

  .player-container{
    width: 658px;
    height: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .player-controls{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;

      .side-buttons{
        display: flex;
        flex-direction: row;
        gap: 8px;


        .shuffle.activate svg{
          fill: $button-green-color;
        }


        button{
          svg{
            fill: $primary-text;
            transition: transform 0.15s ease, fill 0.15s ease;
          }

          &:hover{
            transform: scale(1.05);
            svg{
              fill: white;
            }
          }

        }
      }

      #player{
        border: none;
        background-color: white;
        border-radius: 50%;
        transition: transform 0.15s ease;

        &:hover{
          transform: scale(1.06);
        }
      }

      button{
        width: 32px;
        height: 32px;
        padding: 8px;
        border: none;
        background-color: transparent;


        svg{
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  .progress-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    .time-container{
      width: 36px;
      display: flex;
      justify-content: center;


      span{
        font-size: 12px;
        color: $primary-text;
        font-weight: 400;
        height: 22px;
        display: flex;
        align-items: center;
      }
    }



    input {
      -webkit-appearance: none;
      width: 562px;
      height: 4px;
      border-radius: 2px;
      background-color: $primary-text;
      position: relative;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        height: 100%;
        border-radius: 2px;
        background-color: #fff;
        width: var(--progress);
        z-index: 1;
        transition: background-color 0.3s;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 4px;
        width: 4px;
        background-color: white;
        border-radius: 50%;
        border: none;
        position: relative;
        transform: translateX(-2px);
        z-index: 2;
        cursor: pointer;
        transition: transform 0.2s ease;
      }

      &:hover::before {
        background-color: $button-green-color;
      }

      &:hover::-webkit-slider-thumb {
        transform: scale(3);
      }
    }
  }
}
