<div class="container">
<header>
  <div class = content>
    <div class="logo">
      <a href="https://www.spotify.com/kz-en/" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/26/Spotify_logo_with_text.svg" alt="Spotify Logo" height="33">
      </a>
    </div>
    <div class="navigation">
      <ul class = "contents">
        <li class ="item-1">
          <a href = ""><span>Premium</span></a>
        </li>
        <li class="item-2">
          <a href = ""><span>Support</span></a>
        </li>
        <li class="item-3">
          <a href = ""><span>Download</span></a>
        </li>
        <li class="seperator">
          <p>|</p>
        </li>
        <li class="item-4">
          <a href = ""><span>Sign up</span></a>
        </li>
        <li class="item-5">
          <a href = ""><span>Log in</span></a>
        </li>
      </ul>
    </div>
  </div>
</header>
</div>
