<div class = "container">
  <div class ="content">
    <div class = "content-holder">
      <header class ="text-1">
        <h1>$0.00 for 3 months of Premium Individual</h1>
        <h2 >Enjoy ad-free music listening, offline playback, and more. Cancel anytime.</h2>
      </header>
      <div class = "buttons-container">
        <div class = "button-1">
          <a href="https://www.spotify.com/kz-ru/purchase/offer/2025-q2globalcampaign-intro?country=KZ" tabindex="0" aria-label="Подписаться на Индивидуальная подписка Spotify Premium" data-encore-id="buttonPrimary" class="Button-sc-qlcn5g-0 eecXcU encore-text-body-medium-bold"><span class="ButtonInner-sc-14ud5tc-0 eFUQlg sc-129d65b7-1 kIZaGQ"><span>Get started</span></span><span class="ButtonFocus-sc-2hq6ey-0 cIFWCy"></span></a>
        </div>
        <div class = "button-2">
          <a href="#plans" tabindex="0" aria-label="Посмотреть все планы" data-encore-id="buttonPrimary" class="Button-sc-qlcn5g-0 eecXcU encore-text-body-medium-bold"><span class="ButtonInner-sc-14ud5tc-0 hcVBzQ sc-129d65b7-1 jVACjM"><span>View all plans</span></span><span class="ButtonFocus-sc-2hq6ey-0 cIFWCy"></span></a>
        </div>
      </div>
      <p> Premium Individual only. $0 for 3 months, then $4.99 per month after. Offer only available if you haven't tried Premium before. <a id = "link" href="https://www.spotify.com/kz-en/legal/premium-promotional-offer-terms/">Terms apply.</a><br> Offer ends May 19, 2025.</p>
    </div>
    <div class="image-wrapper">
      <img src="https://i.scdn.co/image/ab678e040000ed3afeeec081974d429069814434" alt="Spotify Premium Banner" />
    </div>
  </div>
</div>
